{% extends "admin_app/base.html" %}
{% load static i18n %}

{% block admin_title %}{% trans "Administration" %}{% endblock %}
{% block admin_breadcrumb %}{% endblock %}

{% block admin_content %}
<h1 class="admin-home-h1">{% trans "Administration" %}</h1>

<div class="admin-home-grid admin-home-grid-three">
  <div class="panel admin-home-panel">
    <div class="admin-home-panel-heading">{% trans "User & Access management" %}</div>
    <ul class="admin-home-links">
      {% if request.user.is_superuser %}
      <li><a href="{% url 'admin_app:admin_user_list' %}" class="admin-home-link">{% trans "Users" %}</a></li>
      <li><a href="{% url 'admin_app:admin_role_list' %}" class="admin-home-link">{% trans "Roles" %}</a></li>
      {% endif %}
      <li><a href="{% url 'admin_app:admin_customer_list' %}" class="admin-home-link">{% trans "Customers" %}</a></li>
    </ul>
  </div>
  <div class="panel admin-home-panel">
    <div class="admin-home-panel-heading">{% trans "Devices & documentation" %}</div>
    <ul class="admin-home-links">
      <li><a href="{% url 'admin_app:admin_device_list' %}" class="admin-home-link">{% trans "Devices" %}</a></li>
      <li><a href="{% url 'admin_app:admin_product_datasheet_list' %}" class="admin-home-link">{% trans "Product datasheets" %}</a></li>
    </ul>
  </div>
  <div class="panel admin-home-panel">
    <div class="admin-home-panel-heading">{% trans "Portal management" %}</div>
    <ul class="admin-home-links">
      <li><a href="{% url 'admin_app:admin_facility_list' %}" class="admin-home-link">{% trans "Facilities" %}</a></li>
      <li><a href="{% url 'admin_app:admin_service_type_list' %}" class="admin-home-link">{% trans "Service types" %}</a></li>
      <li><a href="{% url 'admin_app:admin_document_template_list' %}" class="admin-home-link">{% trans "Document templates" %}</a></li>
      <li><a href="{% url 'admin_app:admin_portal_link_list' %}" class="admin-home-link">{% trans "Portal links" %}</a></li>
      <li><a href="{% url 'admin_app:admin_announcement_list' %}" class="admin-home-link">{% trans "Announcements" %}</a></li>
      <li><a href="{% url 'admin_app:admin_notification_list' %}" class="admin-home-link">{% trans "Notifications" %}</a></li>
    </ul>
  </div>
  {% if request.user.is_superuser %}
  <div class="panel admin-home-panel">
    <div class="admin-home-panel-heading">{% trans "System settings" %}</div>
    <ul class="admin-home-links">
      <li><a href="{% url 'admin_app:admin_system_customize' %}" class="admin-home-link">{% trans "System customization" %}</a></li>
      <li><a href="{% url 'admin_app:admin_backup_restore' %}" class="admin-home-link">{% trans "Backup & Restore" %}</a></li>
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}
